* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f7f7f7;
    color: #222222;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0.6rem 0.8rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Logo */
#icon-img {
    width: 59px;
    height: auto;
}

/* NAV - Estilizado */
nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #FF385C;
    padding: 8px 20px;
    border-radius: 15px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1);
}

/* Links */
nav a {
    font-size: 16px;
    color: #F7F7F7;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 8px;
    transition: background 0.3s ease-in-out;
}

/* Hover */
nav a:hover {
    background-color: #f06d6b;
}

/* Botón de Login */
.login-button {
    background-color: #ee4b69f2;
    color: #222222;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
}

.login-button:hover {
    background-color: #f06d6b;
    color: #fff;
}

/* Cards in index.html */
.place-card, .review-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


main {
    padding: 20px;
    margin-bottom: 50px;
    background-color: rgb(252, 255, 255);
}

/* login.html */

body.login-page {
    overflow: hidden;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 250px);
    padding: 15px;
    overflow: visible;
    background-color: #fcfcfc;
}

#login-form {
    padding: 50px;
    background: rgb(255, 255, 255);
    border-radius: 40px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
}

/* Login h2 */

#login-form h2 {
    font-size: 30px;
    color: #ee4b69f2;
    margin-bottom: 30px;
    text-align: center;
}

#welcome-paragraph {
    margin-bottom: 20px;
    text-align: center;
    color: #555;
}


#email-label,
#password-label {
    width: 100%;
    margin-bottom: 20px;
}

#email-label input, 
#password-label input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 5px;
}

/* submit button */
#login-form button[type="submit"] {
    width: 100%;
    padding: 12px 15px;
    margin-top: 20px;
    background-color: #ee4b69f2;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

#login-form button[type="submit"]:hover {
    background-color: #f06d6b;
}



/* footer of the login page */
footer.footer-login {
    height: 30px;
    padding: 10px 0;
    position: relative; 
}