* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #F7F7F7;
    color: #222222;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Logo */
#icon-img {
    width: 65px;
    height: auto;
}

/* NAV - Estilizado */
nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #FF385C;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}

/* Links */
nav a {
    font-size: 18px;
    color: #F7F7F7;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 8px;
    transition: background 0.3s ease-in-out;
}

/* Hover */
nav a:hover {
    background-color: #f06d6b;
}

/* Botón de Login */
.login-button {
    background-color: #ee4b69f2;
    color: #222222;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
}

.login-button:hover {
    background-color: #f06d6b;
    color: #fff;
}

/* Cards in index.html */
.place-card, .review-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main {
    padding: 20px;
}

/* login.html */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-form {
    background: white;
    border-radius: 40px;
    padding: 20px;
    box-shadow: 50 50px 50px rgba(0, 0, 0, 0.1);
}

#login-form h2{
    padding: 30px;
}

